@keyframes moving-text{
    from{
        transform: translate(100vw, 0);
    }
    to{
        transform: translate(-100%, 0);
    }
}
.news-text {
    position: relative;
    width: max-content;
}
.news-text-moving {
    animation-name: moving-text;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}