<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>False Infinity</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="assets/favicon.svg">
</head>
<body>
    <div id="loading">
        loading...
    </div>
    <div id="app" style="display: none;">
        <header>
            <div id="news-ticker">
                <div id="news-text">This is a sample news text. I haven't made the actual code yet. (I could steal it from another game, but that's boring)</div>
            </div>
            <div id="tab-div">
                <template v-for="id in visual.tabOrder">
                    <h2 class="tab-button" v-if="game.tab[id].unlocked" v-on:click="ChangeTab(id)">{{game.tab[id].name}}</h2>
                </template>
            </div>
        </header>
        <p>Matter: {{visual.matter}}</p>
        <p>Matter/second: {{visual.matterPerSecond}}</p>
        <p>Lose matter/second: {{visual.loseMatterPerSecond}}</p>
        <p>Net matter/second: {{visual.netMatterPerSecond}}</p>
        <div id="autobuyer-tab-div" v-show="visual.currentTab==='autobuyer'">
            <div class="flex" id="pre-overflow-div" v-show="!visual.overflowForced">
                <div>
                    <button v-on:click="ClickGainMoney(1)">Click to get {{visual.clickGain}} matter</button>
                    <div id="autobuyer-list-div">
                        <Autobuyer v-for="(autobuyer, index) in game.autobuyerObject.matter" :initobject="autobuyer" :type="'matter'" :tier="index"></Autobuyer>
                    </div>
                </div>
                <button id="soft-reset-0-button" :class="{ 'can-buy-button': canSoftReset(0), 'cannot-buy-button': !canSoftReset(0)}" v-on:click="ClickSoftReset0Button()"><h4 style="margin:0%;">Deflation ({{visual.deflation}})</h4>Reset, but reduce cost increase by 1<div>Cost: {{visual.softReset0Cost}}</div></button>
            </div>
            <div id="overflow-forced-div" v-show="visual.overflowForced">
                <p>The simulation overflowed by the excess of matter</p>
                <button v-on:click="ClickSoftReset1Button()">Make a new simulation</button>
            </div>
        </div>
        <div id="overflow-tab-div" v-show="visual.currentTab==='overflow'">
            Overflow Points: {{visual.overflowPoint}}
            <button id="overflow-button" :class="visual.overflow_button.vue_class" v-on:click="ClickSoftReset1Button()">Overflow</button>
            <div id="overflow-upgrade-table-div">
                <button v-for="id in visual?.upgradeOrder?.overflow" v-on:click="ClickBuyUpgradeButton('overflow',id)">
                    {{visual.upgrade.overflow[id].descriptionText}}<br>
                    Current: {{visual.upgrade.overflow[id].computedValue}}<br>
                    Cost: {{visual.upgrade.overflow[id].cost}}<br>
                    <span v-show="visual?.showFormula">Formula: {{visual.upgrade.overflow[id].formulaText}}</span>
                </button>
            </div>
        </div>
        <div id="option-tab-div" v-show="visual.currentTab==='option'">
            Options
            <button onclick="save()">Save</button>
            <button onclick="load()">Load</button>
            <label for="notation-select">Notation: </label>
            <select name="notation" id="notation-select" v-model="input.notation">
                <option v-for="notation in visual.notationArray" :value="notation">{{notation}}</option>
            </select>
        </div>
        <div id="statistics-tab-div" v-show="visual.currentTab==='statistics'">
            <h4>Statistics</h4>
            Play time: {{visual.statistics?.playTime}}<br>
            Total Matter Produced: {{visual.statistics?.matterProduced}}<br>
            Deflation: {{visual.statistics?.deflation}} times<br>
            <span v-if="visual.statistics?.showOverflow">
                Current simulation time: {{visual.statistics?.overflowTime}}<br>
                Overflow: {{visual.statistics?.overflow}} times<br>
                Fastest overflow time: {{visual.statistics?.fastestOverflowTime}}<br>
            </span>
        </div>
        <p id="version-p">Version: {{visual.version}}</p>
    </div>
</body>
<script src="js/libraries/vue.global.js"></script>
<script src="js/libraries/break_eternity.js"></script>
<script src="js/libraries/jquery-3.6.1.min.js"></script>
<script src="js/unit_test.js"></script>
<script src="js/decimal.js"></script>
<script src="js/classes/upgrade.js"></script>
<script src="js/classes/autobuyer.js"></script>
<script src="js/cost_increase.js"></script>
<script src="js/player.js"></script>
<script src="js/format.js"></script>
<script src="js/format.test.js"></script>
<script src="js/init.js"></script>
<script src="js/save.js"></script>
<script src="js/reset.js"></script>
<script src="js/news.js"></script>
<script src="js/main.js"></script>
<script src="js/dev.js"></script>
</html>